@charset "UTF-8";

body {
	line-height: 2em;
}

ul, li {
	list-style: none;
	text-align: center;
	padding: 0;
	margin: 0;
}

button {
	cursor:pointer;
}

.imgs{
	max-width: 100%;
	max-height:100%;
	height: 100px;
 	width: 100px;
}

.img:hover{
	cursor:pointer;
}

#mainWrapper {
	width: 800px;
	margin: 0 auto; /*가운데 정렬*/
}

#mainWrapper>ul>li:first-child {
	text-align: center;
	font-size: 14pt;
	height: 40px;
	vertical-align: middle;
	line-height: 30px;
}

#Table_n {
	padding-top:20px;
}


#ulTable {
	margin-top: 10px;
}

#ulTable>li {
	height:100px;
}

#ulTable>li:first-child>ul>li {
	background-color:  #F8ECD1;
	font-weight: bold;
	text-align: center;
}

#ulTable>li>ul {
	clear: both;
	padding: 0px auto;
	position: relative;
	min-width: 40px;
}

#ulTable>li>ul>li {
	float: left;
	font-size: 10pt;
	border-bottom: 1px solid silver;
	vertical-align: baseline;
}

#ulTable>li>ul>li:first-child {
	width: 30%;
} /*img 열 크기*/

#ulTable>li>ul>li:first-child+li {
	width: 30%;
} /*제목 열 크기*/

#ulTable>li>ul>li:first-child+li+li {
	width: 20%;
} /*작성일 열 크기*/

#ulTable>li>ul>li:first-child+li+li+li {
	width: 15%;
} /*작성자 열 크기*/

#ulTable>li>ul>li:first-child+li+li+li+li {
	width: 5%;
} /*글번호 열 크기*/

.text_Bt{
	cursor: pointer;
	margin-top: 20px;
	margin-bottom: 0px;
	padding: 0.5em 0em 0.5em 1em;
	font-weight: 900;
	font-size: 9pt;
	background: #ffffff;
	border: none;
	position: float;
	margin-left:700px
}/*글쓰기 버튼*/

.pencil{
	width: 13px;
}/*연필 이미지*/

#divPaging {
	clear: both;
	margin: 0 auto;
	width: 220px;
	height: 50px;
	margin-left:350px;
	padding-top:20px;
	cursor:pointer;
}

#divPaging>div {
	float: left;
	width: 30px;
	margin: 0 auto;
	text-align: center;
}

.title {
	text-align: left;
}

.title:hover{
	cursor:pointer;
}







/* post_details */


.post_board{
	background-color:  #F8ECD1;
	font-size: 10pt;
	text-align:center;
}

.txt{
	width:20%;
	height:20%;
}


/* 글쓰기 */



.create_B{
	background-color:  #f3f3f3;
	margin-top: 30px;
	margin-left: 25%;
	margin-bottom: 50px;
}

.create_Binput{
	border: none;
	outline: none;
	width: 855px;
	height:20px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.4);
	padding-left:10px;
}

.create_Btxt{
	width: 850px;
	height: 500px;
	outline: none;
	border: none;
	padding : 10px 10px 10px 10px;
}



