@charset "UTF-8";

a {
	text-decoration: none; /* a태그 보라색 밑줄 없애기 */
	color: black;
}

.login:hover{
	color: rgb(234, 235, 222);
}


.login_input, .login_bt {
	/* login input 버튼 */
	border: none;
	outline: none;
	background: none;
	font-family: "Open Sans", Helvetica, Arial, sans-serif;
}

.login_cont {
	/*로그인 div 페이지  */
	overflow: hidden;
	position: relative;
	width: 1100px;
	height: 400px;
	margin: 0 auto 200px;
	margin-top: 80px;
	background: #fff;
}

.login_txt {
	/*로그인 창 welco부분 글씨 위치  */
	position: relative;
	width: 640px;
	height: 100%;
	padding: 0px 50px 0;
}

.sub-cont {
	/* 로그인창 옆 div */
	overflow: hidden;
	position: absolute;
	left: 640px;
	top: 0;
	width: 1000px;
	height: 100%;
	padding-left: 100px;
	background: #fff;
	transition: transform 1.2s ease-in-out;
}

.login_bt {
	/*로그인 버튼  */
	display: block;
	margin: 0 auto;
	width: 300px;
	height: 40px;
	border-radius: 30px;
	font-weight: 900;
	color: rgb(255, 255, 255);
	font-size: 15px;
	cursor: pointer;
	border: solid;
}

.login_img {
	/* 로그인 옆 부분 이미지 */
	overflow: hidden;
	z-index: 2;
	position: absolute;
	left: 25px;
	top: 20px;
	width: 360px;
	height: 100%;
	padding-top: 360px;
}

.login_img:before {
	/* 로그인 옆 부분 이미지 */
	content: "";
	position: absolute;
	right: 0;
	top: 0;
	width: 900px;
	height: 100%;
	background-image: url(../img/loginPage.jpg);
	background-size: cover;
	transition: transform 1.2s ease-in-out;
	z-index: 0;
}

.login_img:after {
	/* 로그인 옆 부분 이미지 */
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(185, 185, 185, 0.6);
}

.login_img__text {
	/* 로그인 옆 div 이미지 글 */
	z-index: 2;
	position: absolute;
	left: 0;
	top: 50px;
	width: 100%;
	text-align: center;
	color: rgb(0, 0, 0);
	transition: transform 1.2s ease-in-out;
}

.login_img__text h2 {
	/* 이미지 글 */
	margin-bottom: 10px;
}

.login_img__text p {
	/* 이미지 글 */
	font-size: 14px;
	line-height: 1.5;
}

.login_img__btn {
	/* 이미지 글 버튼 */
	position: absolute;
	left: 0;
	top: -60px;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	transition: transform 1.2s;
	z-index: 1;
}

.login_h2 {
	/* 로그인 페이지 큰 글자 */
	width: 100%;
	font-size: 25px;
	text-align: center;
}

.login_label {
	/* 로그인 label */
	display: block;
	width: 260px;
	margin: 25px auto 0;
	text-align: left;
}

.login_label span {
	/* 로그인 label */
	font-size: 12px;
	color: #cfcfcf;
	text-transform: uppercase;
}

.login_input {
	/* login input */
	display: block;
	width: 100%;
	margin-top: 5px;
	padding-bottom: 5px;
	font-size: 16px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.4);
	text-align: left;
}

.pw_alert {/* 패스워드 오류시 경고문 */
	color: red;
	font-size: 9pt;
	margin-left:30%;
}

.forgot-pass {
	margin-top: 0;
	text-align: center;
	font-size: 12px;
	color: #9b9b9b;
	cursor: pointer;
}

.login_bt {
	/*로그인 버튼  */
	margin-top: 20px;
	margin-bottom: 20px;
	background: rgb(255, 145, 0);
	text-transform: uppercase;
}

.joinBt {
	/*  회원가입 버튼  */
	border-radius: 30px 30px 30px 30px;
	cursor: pointer;
	margin-top: 30px;
	margin-bottom: 20px;
	padding: 0.5em 1em 0.5em 1em;
	font-weight: 900;
	font-size: 11pt;
	word-spacing: 4pt;
	background: orange;
	border: 1px;
	opacity: 0.83;
}


/* ------------- 회원가입 --------------- */

.reg {
	text-align: center;
	margin: 50px 0px 150px 0px;
}

#reg_h2 {
	text-align: center;
	font-size: 25px;
}

.reg_bt { /* 회원가입 버튼 */
	background-color: rgb(255, 145, 0);
	outline: none;
	background: none;
	cursor: pointer;
	margin-top: 50px;
	background: orange;
	border-radius: 30px 30px 30px 30px;
	padding: 0.5em 1em 0.5em 1em;
	font-size: 10pt;
	font-weight: 900;
	border: none;
}

.reg input {
	border: none;
	margin: 10px auto 0;
	border-bottom: 1px solid rgba(0, 0, 0, 0.4);
}

.overlap{/*  아이디 중복체크 */
	margin-left:150px;
	outline: none;
	background: none;
	cursor: pointer;
	font-size:8pt;
}

.overlapMail{/* 이메일 중복체크 */
	margin-left:150px;
	outline: none;
	background: none;
	cursor: pointer;
	font-size:8pt;
}

.reg_label {
	/*  label */
	display: block;
	width: 260px;
	margin: 10px auto 0;
	text-align: left;
	font-size: 12px;
	color: rgb(91, 91, 91);
}

.reg_input {
	/* login input */
	display: block;
	width: 100%;
	margin-top: 5px;
	padding-bottom: 5px;
	font-size: 12px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.4);
	text-align: left;
}

.mydiv {
	color: red;
	margin-right: 190px;
	font-size:10pt;
}



/* --------- id 찾기, pw 찾기 ------------ */

.find {
	text-align: center;
	margin: 50px 0px 100px 0px;
	margin-bottom: 50px;
}

#find_id{
	margin-bottom: 50px;
}

.find_label{
	display: block;
	width: 260px;
	margin: 10px auto 0;
	text-align: left;
	font-size: 12px;
	color: #b6b6b6;
	text-align: left;
}

.find input{
	border: none;
	margin: 10px auto 0;
	border-bottom: 1px solid rgba(0, 0, 0, 0.4);
	width: 250px;
}

.find_bt{
	background-color: rgb(255, 145, 0);
	outline: none;
	background: none;
	cursor: pointer;
	margin-top: 50px;
	background: orange;
	border-radius: 30px 30px 30px 30px;
	padding: 0.5em 1em 0.5em 1em;
	font-size: 11pt;
	font-weight: 900;
	border: none;
}

.find_input{
	display: block;
	width: 100%;
	margin-top: 5px;
	padding-bottom: 5px;
	font-size: 12px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.4);
	text-align: left;
}


/* ----------- Mypage - 내정보 -------------- */

.reg_label2{
	font-size: 10pt;
	color : #c0c0c0;
	text-align: left;
	
} 

.myPage_value{
	color : black;
	font-size: 10pt;
	text-align: left;
}

.name_chgBt{
	border: 1px solid #c0c0c0;
	border-radius: 20px 20px 20px 20px;
	font-size: 8pt;
	color:black;
	background-color: #ffffff;
	margin-left: 10px;
}





/* Mypage - 내정보 - 비밀번호 확인 */

Check_pw input{
	text-align: center;
}


.check_pw{
	padding-bottom : 30px;
}

.pw_alertC{ /* 비밀번호 오류 *//* 다시 확인해주세요. */
	color: red;
	font-size: 9pt;
	margin-right: 150px;
}

.check_pw2{
	padding-bottom : 10px;
}

/* tellFindID */

.find2 {
	text-align: center;
	margin: 100px 0px 150px 0px;
}

.IDis{
	font-size: 10pt;
	color : #adadad;
	text-align: left;
	
} 

.IDwas{
	color : black;
	font-size: 12pt;
	text-align: left;
	font-weight : 800;
}

.backLogin_bt{
	background-color: rgb(255, 145, 0);
	outline: none;
	background: none;
	cursor: pointer;
	margin-top: 50px;
	background: orange;
	border-radius: 30px 30px 30px 30px;
	padding: 0.5em 1em 0.5em 1em;
	font-size: 10pt;
	font-weight: 900;
	border: none;
}

/* 회원탈퇴 시 Check PW - alert */

.pw_alert_info{
	color: red;
	font-size: 9pt;
	margin-right: 150px;
	
}

.Say{
	text-align: center;
	margin-top:50px;
/* 	background-color:  #F8ECD1; */
	
}

.Good{
	font-size:10pt;
}

.delete_acc{	/* 회원탈퇴 동의 */
	font-size: 9pt;
	margin-left: 35%;
	margin-right: 35%;
	background-color:  #eeeeee;
	padding : 5px 0px 15px 20px;
	border-radius: 10px 10px 10px 10px;
}

.delete_txt{
	line-height: 15pt;
	padding-bottom : 20px;
}

.agree{
	text-align: right;
	padding-left:00px;
}